@font-face {
    font-family: 'Source Han Sans';
    src: url("<...>SourceHanSans-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans';
    src: url("<...>SourceHanSans-ExtraLight.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans';
    src: url("<...>SourceHanSans-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans';
    src: url("<...>SourceHanSans-Normal.otf") format("opentype");
    font-weight: 350;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans';
    src: url("<...>SourceHanSans-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans';
    src: url("<...>SourceHanSans-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans';
    src: url("<...>SourceHanSans-Heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
