@font-face {
    font-family: 'Source Han Serif TW';
    src: url("<...>SourceHanSerifTW-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif TW';
    src: url("<...>SourceHanSerifTW-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif TW';
    src: url("<...>SourceHanSerifTW-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif TW';
    src: url("<...>SourceHanSerifTW-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif TW';
    src: url("<...>SourceHanSerifTW-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif TW';
    src: url("<...>SourceHanSerifTW-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif TW';
    src: url("<...>SourceHanSerifTW-Heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
