@font-face {
    font-family: 'Source Han Sans TW';
    src: url("<...>SourceHanSansTW-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans TW';
    src: url("<...>SourceHanSansTW-ExtraLight.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans TW';
    src: url("<...>SourceHanSansTW-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans TW';
    src: url("<...>SourceHanSansTW-Normal.otf") format("opentype");
    font-weight: 350;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans TW';
    src: url("<...>SourceHanSansTW-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans TW';
    src: url("<...>SourceHanSansTW-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans TW';
    src: url("<...>SourceHanSansTW-Heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
