@font-face {
    font-family: 'Source Han Sans JP';
    src: url("<...>SourceHanSansJP-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans JP';
    src: url("<...>SourceHanSansJP-ExtraLight.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans JP';
    src: url("<...>SourceHanSansJP-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans JP';
    src: url("<...>SourceHanSansJP-Normal.otf") format("opentype");
    font-weight: 350;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans JP';
    src: url("<...>SourceHanSansJP-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans JP';
    src: url("<...>SourceHanSansJP-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans JP';
    src: url("<...>SourceHanSansJP-Heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
