@font-face {
    font-family: 'Source Han Sans KR';
    src: url("<...>SourceHanSansKR-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans KR';
    src: url("<...>SourceHanSansKR-ExtraLight.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans KR';
    src: url("<...>SourceHanSansKR-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans KR';
    src: url("<...>SourceHanSansKR-Normal.otf") format("opentype");
    font-weight: 350;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans KR';
    src: url("<...>SourceHanSansKR-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans KR';
    src: url("<...>SourceHanSansKR-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans KR';
    src: url("<...>SourceHanSansKR-Heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
