@font-face {
    font-family: 'Source Han Serif JP';
    src: url("<...>SourceHanSerifJP-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif JP';
    src: url("<...>SourceHanSerifJP-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif JP';
    src: url("<...>SourceHanSerifJP-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif JP';
    src: url("<...>SourceHanSerifJP-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif JP';
    src: url("<...>SourceHanSerifJP-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif JP';
    src: url("<...>SourceHanSerifJP-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Serif JP';
    src: url("<...>SourceHanSerifJP-Heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
