@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url("<...>IBMPlexMono-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
