@font-face {
    font-family: 'Linus Libertini O';
    src: url("<...>LinusLibertiniO-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Linus Libertini O';
    src: url("<...>LinusLibertiniO-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Linus Libertini O';
    src: url("<...>LinusLibertiniO-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Linus Libertini O';
    src: url("<...>LinusLibertiniO-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}
