@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-It.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-ExtraLightIt.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-LightIt.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-SemiboldIt.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-BoldIt.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-BlackIt.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
