@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url("<...>SourceCodePro-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
