@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url("<...>SourceSans3-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
