@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-It.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-ExtraLightIt.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-LightIt.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-SemiboldIt.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-BoldIt.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url("<...>SourceSerifPro-BlackIt.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}
