@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-It.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-ExtraLightIt.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-LightIt.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-SemiboldIt.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-BoldIt.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Sourcing Sans Pro';
    src: url("<...>SourcingSansPro-BlackIt.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
