@font-face {
    font-family: 'ST1X Two Text';
    src: url("<...>ST1XTwoText-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ST1X Two Text';
    src: url("<...>ST1XTwoText-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'ST1X Two Text';
    src: url("<...>ST1XTwoText-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ST1X Two Text';
    src: url("<...>ST1XTwoText-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}
