@font-face {
    font-family: 'STIX Two Text';
    src: url("<...>STIXTwoText-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'STIX Two Text';
    src: url("<...>STIXTwoText-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'STIX Two Text';
    src: url("<...>STIXTwoText-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'STIX Two Text';
    src: url("<...>STIXTwoText-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}
