@font-face {
    font-family: 'XITS';
    src: url("<...>XITS-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'XITS';
    src: url("<...>XITS-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'XITS';
    src: url("<...>XITS-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'XITS';
    src: url("<...>XITS-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}
