@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-SemiBoldItalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-ExtraBoldItalic.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Vollkorn';
    src: url("<...>Vollkorn-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}
